# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [1]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

In [2]:
data = pd.read_csv('../data/customer_product_sales.csv')

In [3]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [4]:
df = data.groupby(['CustomerID','ProductName']).agg({'Quantity':'sum'}).reset_index()

df.head()

   CustomerID                    ProductName  Quantity
0          33               Apricots - Dried         1
1          33              Assorted Desserts         1
2          33        Bandage - Flexible Neon         1
3          33  Bar Mix - Pina Colada, 355 Ml         1
4          33         Beans - Kidney, Canned         1

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [5]:
pivot = pd.pivot_table(df,values = 'Quantity', index = 'ProductName', columns = ['CustomerID']).fillna(0)
pivot.head(3)

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
ProductName,,,,,,,,,,,,,,,,,,,,,
Anchovy Paste - 56 G Tube,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Appetizer - Mini Egg Roll, Shrimp",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,25.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Appetizer - Mushroom Tart,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [6]:
def distancia(summary, metric='euclidean'):
    pairwise = pd.DataFrame(1/ (1+
        squareform(pdist(summary, metric))),
        columns = summary.index,
        index = summary.index
    )
    return pairwise

In [7]:
euclidean_dist = distancia(pivot.T)
euclidean_dist.head(3)

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,1.000000,0.077421,0.087047,0.081800,0.080634,0.082709,0.074573,0.083020,0.081503,0.080070,...,0.004811,0.004669,0.004412,0.005019,0.004312,0.004515,0.004583,0.004355,0.004167,0.004333
200,0.077421,1.000000,0.078448,0.076435,0.073693,0.075255,0.075956,0.076435,0.077674,0.076923,...,0.004824,0.004681,0.004431,0.005047,0.004311,0.004521,0.004614,0.004367,0.004166,0.004335
264,0.087047,0.078448,1.000000,0.080070,0.081800,0.080350,0.076923,0.080634,0.082100,0.078448,...,0.004822,0.004674,0.004416,0.005035,0.004322,0.004543,0.004595,0.004365,0.004179,0.004333

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [8]:
id_1 = 200
similar_customers = euclidean_dist[id_1].sort_values(ascending = False)[1:6]
similar_customers

CustomerID
3317    0.084959
1072    0.083972
3535    0.082403
1920    0.082100
3909    0.080920
Name: 200, dtype: float64

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [9]:
similiar_5_customers = df[df['CustomerID'].isin(similar_customers.index)]
similiar_5_customers.head()

      CustomerID                        ProductName  Quantity
1082        1072  Appetizer - Mini Egg Roll, Shrimp         1
1083        1072          Appetizer - Sausage Rolls         1
1084        1072             Beans - Kidney, Canned         1
1085        1072     Beef - Montreal Smoked Brisket         1
1086        1072                Beef - Striploin Aa         1

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [10]:
products_5_cust = similiar_5_customers.groupby('ProductName'
                            ).agg({'Quantity':'sum'}
                                 ).reset_index().sort_values('Quantity',ascending=False)

products_5_cust

                         ProductName  Quantity
159     Soup - Campbells Bean Medley         4
103  Muffin - Carrot Individual Wrap         3
8                           Bay Leaf         3
136                    Pork - Kidney         3
129            Pepper - Black, Whole         3
..                               ...       ...
86                              Kiwi         1
87             Knife Plastic - White         1
90                        Lambcasing         1
91                Lentils - Red, Dry         1
206                    Yoghurt Tubes         1

[207 rows x 2 columns]

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [11]:
custom_id_products = df[df['CustomerID']==id_1]

In [12]:
recomendations = products_5_cust[~products_5_cust['ProductName'].isin(list(custom_id_products['ProductName'])
                                                    )].sort_values('Quantity',ascending = False).head(5)

recomendations

                         ProductName  Quantity
159     Soup - Campbells Bean Medley         4
8                           Bay Leaf         3
136                    Pork - Kidney         3
185                      Wanton Wrap         3
103  Muffin - Carrot Individual Wrap         3

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [13]:
recom_all_customers = {}
uniq_cust = list(set(data['CustomerID']))


for customer in uniq_cust:
    
    similar_customers_1 = euclidean_dist[customer].sort_values(ascending = False)[1:6]
    
    similiar_5_customers_1 = df[df['CustomerID'].isin(similar_customers_1.index)]
    
    products_5_cust_1 = similiar_5_customers_1.groupby('ProductName'
                            ).agg({'Quantity':'sum'}
                                 ).reset_index().sort_values('Quantity',ascending=False)
    
    custom_id_products_1 = df[df['CustomerID']==customer]
    
    recommendations_1 = products_5_cust_1[~products_5_cust_1['ProductName'].isin(list(custom_id_products_1['ProductName'])
                                                    )].sort_values('Quantity',ascending = False).head(5)
    
    
    products_1 = list(recommendations_1['ProductName'])
    
    recom_all_customers[customer] = products_1

In [14]:
for x  in list(recom_all_customers)[0:3]:
    print (x)
    print (recom_all_customers[x])

83973
['Cocoa Butter', 'Veal - Slab Bacon', 'Bandage - Fexible 1x3', 'Ezy Change Mophandle', 'Chicken - Wieners']
59399
['Shrimp - Baby, Warm Water', 'Towels - Paper / Kraft', 'Knife Plastic - White', 'Nantucket - Pomegranate Pear', 'Snapple - Iced Tea Peach']
92168
['Cup - Translucent 7 Oz Clear', 'Snapple Lemon Tea', 'Veal - Brisket, Provimi,bnls', 'Spinach - Baby', 'Pop Shoppe Cream Soda']

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

In [15]:
df_recom = pd.DataFrame.from_dict(recom_all_customers, orient = 'index').reset_index()
df_recom.columns = ['CustomerID','Recommendation 1','Recommendation 2','Recommendation 3','Recommendation 4','Recommendation 5']
df_recom.head(10)

,CustomerID,Recommendation 1,Recommendation 2,Recommendation 3,Recommendation 4,Recommendation 5
0,83973,Cocoa Butter,Veal - Slab Bacon,Bandage - Fexible 1x3,Ezy Change Mophandle,Chicken - Wieners
1,59399,"Shrimp - Baby, Warm Water",Towels - Paper / Kraft,Knife Plastic - White,Nantucket - Pomegranate Pear,Snapple - Iced Tea Peach
2,92168,Cup - Translucent 7 Oz Clear,Snapple Lemon Tea,"Veal - Brisket, Provimi,bnls",Spinach - Baby,Pop Shoppe Cream Soda
3,49159,"Pasta - Penne, Rigate, Dry",Cookies - Assorted,Puree - Mocha,Cheese - Parmesan Grated,Cheese - Victor Et Berthold
4,18441,Soupfoamcont12oz 112con,Beef - Texas Style Burger,Anchovy Paste - 56 G Tube,Flour - Pastry,Foam Cup 6 Oz
5,22536,Bacardi Breezer - Tropical,Cheese - Mozzarella,Cheese Cloth No 100,Bread - Hot Dog Buns,Table Cloth - 53x69 Colour
6,86028,Spinach - Baby,Vinegar - Tarragon,Pork - Hock And Feet Attached,"Orange - Canned, Mandarin","Pepper - Black, Whole"
7,75791,Blueberries,Vaccum Bag 10x13,Turkey - Oven Roast Breast,Mussels - Cultivated,Bread - Calabrese Baguette
8,96272,Ecolab - Lime - A - Way 4/4 L,Guinea Fowl,Bread Crumbs - Panko,Sunflower Seed Raw,Bread - English Muffin
9,32785,Cookies - Assorted,Juice - V8 Splash,Wine - Redchard Merritt,Puree - Passion Fruit,Juice - Orange

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.

In [16]:
cityblock_dist = distancia(pivot.T,'cityblock')

In [17]:
recom_all_customers = {}
uniq_cust = list(set(data['CustomerID']))


for customer in uniq_cust:
    
    similar_customers_1 = cityblock_dist[customer].sort_values(ascending = False)[1:6]
    
    similiar_5_customers_1 = df[df['CustomerID'].isin(similar_customers_1.index)]
    
    products_5_cust_1 = similiar_5_customers_1.groupby('ProductName'
                            ).agg({'Quantity':'sum'}
                                 ).reset_index().sort_values('Quantity',ascending=False)
    
    custom_id_products_1 = df[df['CustomerID']==customer]
    
    recommendations_1 = products_5_cust_1[~products_5_cust_1['ProductName'].isin(list(custom_id_products_1['ProductName'])
                                                    )].sort_values('Quantity',ascending = False).head(5)
    
    
    products_1 = list(recommendations_1['ProductName'])
    
    recom_all_customers[customer] = products_1

In [18]:
df_recom = pd.DataFrame.from_dict(recom_all_customers, orient = 'index').reset_index()
df_recom.columns = ['CustomerID','Recommendation 1','Recommendation 2','Recommendation 3','Recommendation 4','Recommendation 5']
df_recom.head(10)

,CustomerID,Recommendation 1,Recommendation 2,Recommendation 3,Recommendation 4,Recommendation 5
0,83973,"Pork - Bacon, Double Smoked",Knife Plastic - White,"Nut - Chestnuts, Whole",Bar - Granola Trail Mix Fruit Nut,Juice - Lime
1,59399,"Pepper - Black, Whole","Pork - Bacon, Double Smoked",Soup - Campbells Bean Medley,"Salsify, Organic",Butter - Unsalted
2,92168,Wine - Blue Nun Qualitatswein,Knife Plastic - White,Chinese Foods - Chicken,"Wine - Magnotta, Merlot Sr Vqa",Wine - Toasted Head
3,49159,Wine - Blue Nun Qualitatswein,Tia Maria,Veal - Sweetbread,Butter - Unsalted,Soup - Campbells Bean Medley
4,18441,Anchovy Paste - 56 G Tube,Foam Cup 6 Oz,"Garlic - Primerba, Paste",Butter - Unsalted,"Lemonade - Natural, 591 Ml"
5,22536,Knife Plastic - White,Cheese - Mozzarella,Bar - Granola Trail Mix Fruit Nut,Olive - Spread Tapenade,Tea - Decaf Lipton
6,86028,"Sole - Dover, Whole, Fresh",Knife Plastic - White,Wine - Chardonnay South,Foam Dinner Plate,Sauce - Hollandaise
7,75791,Butter - Unsalted,Chocolate - Dark,Guinea Fowl,Mayonnaise - Individual Pkg,Tia Maria
8,96272,Butter - Unsalted,Knife Plastic - White,Sherry - Dry,Ecolab - Solid Fusion,"Pepper - Black, Whole"
9,32785,Soup - Campbells Bean Medley,Butter - Unsalted,"Pepper - Black, Whole",Ketchup - Tomato,Knife Plastic - White